// out: ../css/style.css, compress: false, strictMath: true

@widthAll: 1280px;
@headingBackGroundColor: #445161;

body {
    margin: 0;
    font-family: Arial;
}

.container {
    width: @widthAll;
    margin: 0 auto;
    box-sizing: border-box;
}

.clear-both {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.page-header {
    width: 100%;
    color: white;
    padding: 50px;
    background-color: @headingBackGroundColor;
    box-sizing: border-box;

    &:after {
        .clear-both;
    }
}

.page-header-wrp {
    /* border: 1px solid #fff; */
    width: 590px;
    float: left;
}

.title-text-style(@bottom-margin, @text-align) {
    display: block;
    box-sizing: border-box;
    font-size: 30px;
    color: #445161;
    line-height: 1.2;
    margin: 0 0 @bottom-margin 0;
    text-align: @text-align;
}

.page-header-title {
    display: block;
    margin: 0 0 20px 0;
    font-size: 60px;
    line-height: 1.0;
    font-weight: 400;
}

.page-header-list {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 36px;
}

.page-header-list-item {
    position: relative;
    font-size: 20px;
    line-height: 1.8;
    text-align: left;
    padding: 0;

    &:before {
        content: "";
        display: block;
        width: 25px;
        height: 19px;
        /* background-color: #fff; */
        /* border: 1px solid black; */
        position: absolute;
        top: 6px;
        left: -34px;
        background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAATCAQAAADPe26OAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkBxMUBBY6GqysAAAAhklEQVQoz5XS0Q2AIAxF0W7gKIziCB3BERyFERzFURjh+lENggIFPiAhJzTtE8S1I6B29wMeNANuNAcAwiyIo19+QCYLO8EDHrJwAqlADWDEAAVqAuQNMuoARAjVc+LoAStM6a1Y99EO9YPcZPWC9yjVB8rpqwfUgdEx+GZMR+AvlitbP90Xixl9xMhYYKUAAAAASUVORK5CYII=');
        background-size: cover;
    }
}

.page-header-img {
    display: block;
    width: 469px;
    height: 214px;
    min-height: 214px;
    background-color: #fff;
    float: right;
}

.about-product {
    margin: 0;
    padding: 50px;

    &:after {
        .clear-both;
    }
}

.about-product-wrp {
    width: 590px;
    float: left;
}

.about-product-title {
    .title-text-style(30px, left);
}

.about-product-description {
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    text-align: left;
    width: 100%;
    min-height: 60px;
    margin: 0 0 20px 0;

    &:last-child {
        margin: 0;
    }
}

.about-product-video {
    display: block;
    background-color: rgb(68, 81, 97);
    width: 430px;
    height: 245px;
    min-height: 245px;
    float: right;
}

.dignity {
    margin: 0 0 0 0;
    padding: 50px;
    padding-bottom: 30px;
    background-color: #f5f5f5;

    &:after {
        .clear-both;
    }
}

.dignity-title {
    .title-text-style(20px, center);
}

.dignity-list {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    text-align: left;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity-list-item {
    position: relative;
    padding: 0 0 0 40px;
    margin: 0 0 20px 0;
    width: 550px;
    float: left;
    box-sizing: border-box;

    &:before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        /* background-color: #fff; */
        /* border: 1px solid black; */
        position: absolute;
        top: 5px;
        left: 0px;
        background-image: url(../img/plus%20icon.png);
        background-size: cover;
    }

    &:last-child {
        padding: 0 0 0 40px;
        margin: 0 0 0 0;
    }

    &:nth-last-child(2) {
        padding: 0 0 0 40px;
        margin: 0 0 0 0;
    }

}

.screenshots {
    margin: 0;
    padding: 50px;
    padding-bottom: 30px;
    background-color: #fff;

    &:after {
        .clear-both;
    }

}

.screenshots-title {
    .title-text-style(20px, center);
}

.screenshots-figure {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    float: left;
    width: 590px;

}

.screenshots-figure-img {
    display: block;
    float: left;
    background-color: rgb(68, 81, 97);
    width: 200px;
    height: 150px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.screenshots-figcaption {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: block;
    float: right;
    width: 360px;
}

.screenshots-figcaption-title {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 24px;
    color: rgb(68, 81, 97);
    line-height: 0.75;
    text-align: left;
}

.screenshots-figcaption-description {
    margin: 20px 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    text-align: left;
    width: 100%;
    min-height: 108px;
}

.reviews {
    padding: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-title {
    width: 100%;
    .title-text-style(20px, center);
}

.reviews-item {
    width: 48%;
    margin: 0 0 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}

.reviews-item-photo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
}

.reviews-item-txt {
    width: 80%;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    position: relative;

    &:before {
        content: "";
        display: block;
        border: 13px solid transparent;
        border-right: 13px solid #fff;
        position: absolute;
        top: 27px;
        left: -26px;
    }

    &-author {
        display: block;
        margin: 5px 0 0 0;
        font-weight: bold;
        color: #989898;
        font-size: 14px;
        line-height: 1.286;
    }
}

.price {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    /* align-content: flex-end; */
}

.price-title {
    width: 100%;
    .title-text-style(20px, center);
}

.price-item {
    width: 25%;
    margin: 0 20px 0 0;
    box-sizing: border-box;
    background-color: #445162;
    border: 2px solid #445162;

    &-title {
        display: block;
        font-size: 24px;
        color: #fff;
        line-height: 1.25;
        text-align: center;
        padding: 17px;
    }

    &-price-value {
        display: block;
        font-size: 40px;
        background-color: #fff;
        color: #445162;
        line-height: 0.75;
        text-align: center;
        padding: 18px;
    }

    &-options {
        padding: 0 20px 0 38px;
        font-size: 14px;
        color: #fff;
        line-height: 1.714;
        text-align: left;
        list-style-position: inside;
    }

    &-btn {
        display: block;
        width: 280px;
        margin: 20px 5px 20px 5px;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        background-color: #fff;
        color: #445162;

        &:hover {
            background-color: orange;

            .price-item-btn-txt {
                color: #445162;
            }
        }

        &:active {
            background-color: #fff;
            color: black;
        }
    }

    &-btn-txt {
        text-transform: uppercase;
        color: #445162;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;

    }

}

.price-item:nth-child(4) {
    margin: 0;
}
